
html {
  font-size: 62.5%;
  height: 100%;
}

body {
  height: 100%;
}

.container {
  width: 980px;
  margin: 0 auto;
  position: relative;
  min-height: 100%;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.header {
  background-color: #f5b4b3;
  height: 50px;
  font-size: 1.5rem;
}

.top_menu li {
  float: right;
  width: auto;
}

.top_menu li a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 15px;
}

.logo_image {
  width: 110px;
  float: left;
  margin: 0;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.image_area {
  width: 100%;
}

.side_menu {
  width: 300px;
  float: left;
}

.side_menu li {
  background-color: #f5b4b3;
  height: 6rem;
  margin-bottom: 10px;
}

.side_menu li:hover {
  opacity: 60%;
}

.side_menu li a {
  font-size: 2rem;
  text-decoration: none;
  color: #fff;
  display: block;
  padding: 2rem;
}

.side_menu .point {
  background-color: #fcecec;
}
.side_menu .point a {
  color: #4d4d4d;
}

/* contact */

.content {
  width: 660px;
  margin-left: 20px;
  float: left;
  margin: 0 auto;
}

.form tr {
  height: 7rem;
  
}

.form th {
  height: 7rem;
  width: 150px;
  text-align: right;
  
}

.form td {
  margin-left: 10px;
}

.textarea {
  width: 480px;
  margin-left: 10px;
}


textarea {
  width: 480px;
  margin-left: 10px;
}

input.radio {
  vertical-align: top;
  margin-left: 10px;
}

.btn {
  color: #fff;
  padding: 10px;
  font-size: 3rem;
  background-color: #008b8b;
  display: block;
  margin: 0 auto;
}

.btn:hover {
  opacity: 60%;
}

/* footer */

.footer {
  background-color: #4d4d4d;
  height: 100px;
  width: 100%;
  position: absolute;
  bottom: 0;
  display: table;
}

.footer p {
  font-size: 1rem;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}

.wrapper {
  margin-top: 10px;
  padding-bottom: 100%;

}